.card {
    width: 350px;
    height: 300px;
    transition: 0.3s ease;
    background-color: var(--card-background);
    border-radius: 25px;
    color: var(--blue-500);
    text-decoration: none;
}

.card:hover {
    transition: 0.3s ease;
    background-color: var(--card-muted-background);
}

.container {
    position: relative;
    height: 230px;
    margin: 35px;
}

.icon {
    color: var(--ton);
}

.title {
    padding-top: 20px;
    font-size: 24px;
    font-weight: 600;
    color: var(--foreground);
}

.description {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 400;
    color: var(--foreground);
}


.link {
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    bottom: 0;
    text-decoration: none;
}

.label {
    font-size: 16px;
    font-weight: 700;
    color: var(--ton);
}

.arrow {
    stroke: var(--ton);
}