@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* black/white colors */
  --white-50: #ffffff;
  --white-100: #f7f9fb;
  --white-200: #f0f4f8;
  --white-300: #cfd5dd;
  --white-400: #7b7f95;
  --white-500: #60637a;
  --white-600: #444656;
  --white-700: #202125;
  --white-800: #18181b;
  --white-900: #0f0f0f;
  --white-950: #09090b;

  /* blue colors */
  --blue-50: #edf9ff;
  --blue-100: #d6efff;
  --blue-200: #b5e5ff;
  --blue-300: #83d7ff;
  --blue-400: #48beff;
  --blue-500: #1e9dff;
  --blue-600: #067dff;
  --blue-700: #0069ff;
  --blue-800: #0850c5;
  --blue-900: #0d479b;
  --blue-950: #0e2c5d;

  /* red colors */
  --red-50: #fff2f1;
  --red-100: #ffe2df;
  --red-200: #ffcac5;
  --red-300: #ffa59d;
  --red-400: #ff7164;
  --red-500: #ff3220;
  --red-600: #ed2615;
  --red-700: #c81c0d;
  --red-800: #a51b0f;
  --red-900: #881d14;
  --red-950: #4b0a04;

  /* gradients */
  --gradient-title: linear-gradient(90deg, #2d83ec, #7b84ff);
  --gradient-info: linear-gradient(90deg, #2d83ec, #1ac9ff);
  --gradient-warning: linear-gradient(90deg, #ec4a2d, #ffa71a);

  --background: var(--white-50);
  --foreground: var(--white-950);
  --muted-background: var(--white-200);
  --muted-foreground: var(--white-400);
  --card-background: var(--white-100);
  --card-muted-background: var(--white-200);
  --accent: var(--blue-700);
  --ton: var(--blue-500);
}

.dark {
  --background: var(--white-900);
  --foreground: var(--white-300);
  --muted-background: var(--white-800);
  --muted-foreground: var(--white-600);
  --card-background: var(--white-800);
  --card-muted-background: var(--white-700);
  --accent: var(--blue-700);
  --ton: var(--blue-500);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--background);
}